body {
  font-family: 'Open Sans', sans-serif;
  min-height: 9vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.row {
  display: flex;*/
  justify-content: left;
  align-items: left;
  padding: 0 0px;
}

.card {
  width: 150px;
  /*height: 80px;         */
                                
                                /* Set width of cards */
  /*display: flex;                /* Children use Flexbox */*/
  flex-direction: column;       /* Rotate Axis */
  border: 1px solid #80DEEA;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 0px;                  /* Add space between cards */
}

.divv1 {
    width: 12%;
    /*margin: 0;*/
    height: 60px;
    /*padding: 0px;*/
    border: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    /*border-radius: 4px; */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*overflow: hidden;             /* Fixes the corners */*/
    margin: 0px;
}

.divWeekDay {
    width: 12%;
    height: 70px;
    /*border: 1px solid #aaaaaa;*/
    border: 1px solid #aaaaaa;
    /*border-bottom: none;*/
    border-top: none;
    background-color: #333;
    color: white;
    text-align: center;
}

.card-header {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #80DEEA;
  background-color: #E0F7FA;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: left;    /* Group Children in Center */
  align-items: left;        /* Group Children in Center (on cross axis) */
  padding: 5px 0;            /* Add padding to the top/bottom */
}


.main-description {
  color: #0097A7;
  font-size: 12px;
  text-align: center;
}

/* IDs for additional colors*/
/* Colors from Google Material Design: https://material.io/guidelines/style/color.html*/