<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flexbox Card Tutorial</title>


      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/index2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/index2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/indexbar.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
      <!-- <link type="text/javascript" href="{% static 'js/jquery-3.3.1.min.js' %}"> -->


  </head>

<script type="text/javascript"  src="{% static 'js/jquery-3.3.1.min.js' %}">
</script> 

<script type=text/javascript>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {

  // if (ev.target.childNodes.length > 0){
  if (ev.target.hasChildNodes()){  
    alert("plage déjà enregistrée");
  }
  else
  {
     ev.preventDefault();
     var data = ev.dataTransfer.getData("text");
     var nodeCopy = document.getElementById(data).cloneNode(true);
     nodeCopy.id = "newId"; /* We cannot use the same ID */
     nodeCopy.setAttribute('draggable', false);
     ev.target.appendChild(nodeCopy);
     var idDraged = ev.dataTransfer.getData("text");
     var idHost = ev.target.id;
     TransferToServerrr(idDraged,idHost);
  }      

}


function TransferToServer(ed,eb){
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/saveTask');
      xhr.onload = function(){
        var data = this.responseText;
        //console.log(data);
      }

      var params =ed+"@"+eb;//cancatenation
      alert(params);
      xhr.send(params);
}

function TransferToServerrr(ed,eb){
$.ajax({
  type:'POST',
  url:'/saveTask',
  data:{
    idProject:ed,
    idPlage:eb
  },
  success:function(){
    // alert("created success");

  }
});
}

function TransferToServer2(ed){
$.ajax({
  type:'POST',
  url:'/deleteTask',
  data:{
    idPlage:ed
  },
  success:function(){
    // alert("created success");

  }
});
}




function putProjectIntoPlage(idPlage, idProject){
  var nodeHost = document.getElementById(idPlage);
  var nodeCopy = document.getElementById(idProject).cloneNode(true);
  nodeCopy.id = "newId";
  nodeCopy.setAttribute('draggable', false);
  nodeHost.appendChild(nodeCopy);
}

function deleteTask(ev,id){
  ev.preventDefault();
  var node = document.getElementById(id);
  if (node.hasChildNodes()){
    if (confirm('delete this task ?')){
      node.removeChild(node.firstChild);
      TransferToServer2(id);
    }
  }
}

function hexColor()
{
  var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';

  return hue;
}

function previous()
{
  alert();
$.ajax({
  type:'POST',
  url:'/previous',
}); 
}

function next()
{
  alert();
$.ajax({
  type:'POST',
  url:'/next',
}); 
}


</script>

<script type="text/javascript">
//
// Description: Randomly change background color every 5 seconds
//
// NewcWare 1997
// Author: Scott Newcomer 3/1997
// Email: nuke@bright.net
//
function setbackground()
{
window.setTimeout( "setbackground()", 5000); // 5000 milliseconds delay

var index = Math.round(Math.random() * 9);

var ColorValue = "FFFFFF"; // default color - white (index = 0)

if(index == 1)
ColorValue = "FFCCCC"; //peach
if(index == 2)
ColorValue = "CCAFFF"; //violet
if(index == 3)
ColorValue = "A6BEFF"; //lt blue
if(index == 4)
ColorValue = "99FFFF"; //cyan
if(index == 5)
ColorValue = "D5CCBB"; //tan
if(index == 6)
ColorValue = "99FF99"; //lt green
if(index == 7)
ColorValue = "FFFF99"; //lt yellow
if(index == 8)
ColorValue = "FFCC99"; //lt orange
if(index == 9)
ColorValue = "CCCCCC"; //lt grey

document.getElementsByTagName("body")[0].style.backgroundColor = "#" + ColorValue;
return("#" + ColorValue);

}
</script>
<body onload="setbackground();">

  <body>

      <div class="topnav">
          <!-- <a class="active" href="#home">Home</a> -->
          <!-- <a href="#news">News</a> -->
          <!-- <a href="#contact">Contact</a> -->
          <a>
          {% load staticfiles %}
          <img src="{% static 'images/logo.jpg' %}" width="40" height="40" align="right"/>
          </a>
          <a href="#about"><b>{{myMonth}}</b></a>


          <a>
          <form id="previous" action="{% url 'previous' %}" method="post">
            <button  class="btn btn-primary">&laquo;</button>
          </form>
          </a>
          <a>                     
          <form id="next" action="{% url 'next' %}" method="post">
            <button  class="btn btn-primary">&raquo;</button>
          </form>
          </a>     
      </div>

   
  <table>

    <tr>

      <td width="15%" rowspan="2" style = "border: 0";>
      {% for prj, col in my_Projects.items %}
        {% with forloop.counter as outer_counter %}
      <div class="row" id={{prj.id}}  draggable="true" ondragstart="drag(event)" >
        <div class="card" style="border-color: {{ col }};">
          <div class="card-header" style="background-color: {{ col }};">{{prj.nom}}</div>
          <div class="card-main" >
            <div class="main-description" style="color: {{ col }};">{{prj.numero}}</div>
          </div>
        </div>
      </div>
        {% endwith %}
      {% endfor %}
      </td>

 
     <td width="65%" rowspan="2" >
          <div class="row">
            <div class="divWeekDay"> <h5> Mon {{days_of_week.Mon}} </h5> </div>
            <div class="divWeekDay"> <h5> Tue {{days_of_week.Tue}} </h5></div>
            <div class="divWeekDay"><h5> Wed {{days_of_week.Wed}} </h5> </div>
            <div class="divWeekDay"> <h5> Thu {{days_of_week.Thu}} </h5></div>
            <div class="divWeekDay"> <h5> Fri {{days_of_week.Fri}} </h5></div>
            <div class="divWeekDay"> <h5> Sat {{days_of_week.Sat}} </h5></div>
            <div class="divWeekDay"> <h5> Sun {{days_of_week.Sun}}</h5></div>
          </div>



          {% for i in "x"|ljust:"8" %}      
          <div class="row">
            <div class="divv1" id=1{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=2{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=3{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=4{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=5{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=6{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
            <div class="divv1" id=7{{forloop.counter}} ondrop="drop(event)" ondragover="allowDrop(event)" oncontextmenu="deleteTask(event,this.id)"></div>
          </div>
          {% endfor %}
        </td>
        <td >


          progression
<!--               <div class="progress-circle p99" style="height: 100px; width: 100px; outline: solid #000000">
                <span>10%</span>
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div> -->
<div class="header">
  <h1 class="title">Pure Css Circular Progress</h1>
</div>

<div class="content">
  <div class="group">
    <div class="circular-progress60"></div>
    <div class="circular-text">HTML</div>
  </div>
  
  <div class="group">
    <div class="circular-progress85"></div>
    <div class="circular-text">HTML</div>
  </div>
  
  <div class="group">
    <div class="circular-progress100"></div>
    <div class="circular-text">HTML</div>
  </div>
  
  
</div>


<div id="footer">
  <a href="https://twitter.com/ray102467" target="_blank" class="twitter">@RayLin</a>
</div>
        </td>
    </tr>

    <tr >
        <td >
                      Bip Ref
            <progress max="100" value="50">
                <div class="progress-bar">
                    <span style="width: 80%;">Progress: 100%</span>
                </div>
            </progress>
        </td>
    </tr>
    



  </table>
{% if timetracked_projects %}
      {% for entry in timetracked_projects %}
        <script type="text/javascript"> 
            putProjectIntoPlage({{entry.id_seance}}, {{entry.fk_id_project.id}});
        </script>
      {% endfor %}
{% endif %}
  </body>
</html>