<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my chronos</title>
<!--   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
<!--       <link href="{{ url_for('static', filename='index.css') }}"/> -->

</head>
<body> 

  <!-- <img src = 'images.jpg' height="50" width="50%"> -->


<!--   <ul>
      {% for row in rows %}
          <li>{{ row[1]}}</li>
      {% endfor %}
  </ul> -->
<!--         {% for row in rows %}
      <div class="row">


        <div class="card">
          <div class="card-header">{{row[1]}}</div>
          <div class="card-main">
            <div class="main-description">{{row[2]}}</div>
          </div>

        </div>
      </div>
          {% endfor %} -->

<!--       <div class="row">
        <div class="card" id="or-border">
          <div class="card-header" id="or-header">Bike</div>
          <div class="card-main">
            <div class="main-description" id="or-color">13.1 Miles</div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="card" id="red-border">
          <div class="card-header" id="red-header">Morning</div>
          <div class="card-main">
            <div class="main-description" id="red-color">Coffee</div>
          </div>
        </div> 
        </div>
<!--       </div> -->

</body>
</html>