<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit=no> <!-- for mbile : zoom = 1 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/signin.css"> <!--href="{{ url_for('static', filename='signin.css') }}"-->
        <link rel="shortcut icon" type="img" href="../static/kronos.JPG"> <!--href="{{ url_for('static', filename='kronos.JPG') }}"-->
        <title>Kronos se connecter</title>
    </head>
    <body class="text-center">           
        <form class="form-signin">
            <img class="mb-4" src="../static/kronos.JPG" alt="" width="180" height="180">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a class="contact-link" href="password-forgot.msg">Forgot password ?</a>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted1">&copy; 2018-2019</p>
            <nav>
                <ul class="navbar-nav">
                    <li><a href="/about">About Us</a></li>
                    <li>|</li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
          </form>
          <a class="btn btn-warning" href="signup.html" role="button">Create an account</a>
        </body>

</html>