<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit=no> <!-- for mbile : zoom = 1 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../static/signup.css" rel="stylesheet">
        <link rel="shortcut icon" type ="img" href="../static/kronos.JPG"/>
        <title>Compte Kronos</title>
    </head>
    <body class="text-center">        
        <div class="page-container">
            <form action="#" method="POST">
                <h1>Please sign up</h1>
                    <input type="text" name="name" class="name" placeholder="pseudo">
                    <input type="text" name="email" class="Email" placeholder="Email">
                    <input type="password" name="password" class="Address" placeholder="password">
                    <input type="password" name="Confirm" class="password" placeholder="Confirm password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Add">Sign up</button>
            </form>
        </div>
    </body>
</html>